<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Vending Machine</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="css/main.css" rel="stylesheet">

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

</head>
<body>
    <h2>Hi, I am a vending machine! How may I help you today?</h2>

    <script src="javascript/app/vending-machine.js"></script>

</body>
</html>